/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 div#dynamic_tab {
    margin: 50px 0px;
}
 div#dynamic_tab .tab_head{
     margin-bottom: 30px;
 }
div#dynamic_tab .tab_head .tab_tabs {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}
div#dynamic_tab .tab_head .tab_tabs .tab_item {
    display: inline-block;
    padding: 5px 20px;
    font-size: 14px;
    font-weight: 600;
    user-select: none;
    cursor: pointer;
    color: #596265;
    border: 2px solid #596265;
    border-radius: 1px;
    box-shadow: 0 0 1px #fff;
}

div#dynamic_tab .tab_head .tab_tabs .tab_item:before{
    display: none !important;
}

div#dynamic_tab .tab_head .tab_tabs .tab_item.active_item{
    background: hsl(170deg 100% 44%);
}

div#dynamic_tab .tab_head .tab_tabs .tab_item:hover{
    background: hsl(170deg 100% 44%);
    transition: .3s;
}

div#dynamic_tab .tab_contents .tab_item_data{
    display: none;
}


div#dynamic_tab .tab_contents .tab_item_data .tab_image {
    width: 100%;
}

div#dynamic_tab .tab_contents .tab_item_data .tab_image img{
    width: 100%;
}
div#dynamic_tab .tab_contents .tab_item_data.tabshow{
    display: block;
}